<%= form_for(user) do |f| %>

  <%= render 'error_messages' %>

  <div class="field">
    <%= f.label :name, 'Name (minimum is 3 characters)' %>
    <%= f.text_field :name, class: 'form-control' %>
    <br />
    <%= f.label :password, 'Password (at least 6 symbols)' %>
    <%= f.password_field :password, class: 'form-control' %>
    <br />
    <%= f.label :password_confirmation, 'Password confirmation' %>
    <%= f.password_field :password_confirmation, class: 'form-control'%>
    <br />
    <%= f.label :avatar, 'Choose your avatar picture (not necessary)'%>
    <%= f.file_field :avatar %>
  </div>
    <br />
  <div class="actions">
    <%= f.submit "#{@action} my account", class: 'btn btn-large btn-primary' %>
  </div>
<% end %>
