<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <ul class="users">
      <% @users.each do |user| %>
        <div class="col-md-3" style="margin-top: 30px">
          <%= image_tag user.avatar.url(:small), class: 'img-thumbnail' %>
          <h3><%= link_to user.name, user %></h3>
          Messages: <%= user.messages.count %> | Rooms: <%= user.rooms.count %>
        </div>
      <% end %>
    </ul>
  </div>
</div>