<p id="notice"><%= notice %></p>
<br />
<div class="row">
  <div class="col-md-3 col-md-offset-1">
    <%= image_tag @user.avatar.url(:medium), class: 'img-thumbnail'%>
    <h3><%= @user.name %></h3>
    <%= link_to 'Edit profile', edit_user_path(@user) %>
  </div>
  <div class="col-md-7">
    <h4>
      <hr />
      <p>You have typed: <%= pluralize(@user.messages.count, 'message') %></p>
      <hr />
      <p>Rooms created: <%= pluralize(@user.rooms.count, 'room') %></p>
      <hr />
      <br />
      Your rooms:
      <% if @user.rooms.any?%>
        <% @user.rooms.each do |room| %>
          <p><li><%= link_to "#{room.title}", room_path(room) %></li></p>
        <% end %>
      <% else %>
        <br /><h5>Looks like you haven't any chat room yet... Create your own or join to existing rooms <%= link_to "HERE", rooms_path %></h5>
        <!-- TODO: debug this line -->
      <% end %>
    </h4>
  </div>
</div>
